/* CSS Document */
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');*/

* {
  font-family: Raleway;
  font-size: 16px;
  color: #222; 
  /*text-align: center;*/
}
.site-content {
	width: 1340px; 
	margin: 0 auto; 
	/*border:1px solid #ccc;*/
}
/*header {
	
}
*/

#s_hebergement {
	/**/
}

#s_hebergement {
	/**/
}
/*footer {
	
}*/

.r-title {
	/*Center Location Left*/
	font-size: 22px;
	font-weight: 800;
	padding: 0 0 30px 20px;
}
.r-stitle {
	/*Center Location Left*/
	font-size: 17px; 
	font-weight: 800;
}

.p-footer {
	line-height: 180%;
}
.local-side {
	box-sizing: border-box;
	padding: 40px 20px 0;
	min-height: 660px;
	border-radius: 20px;
	background: #f2f2f2;
}
.local-item {
	box-sizing: border-box;
	border: 5px solid #fff;
  	background: #fff;
  	border-radius: 20px;
}
.local-left {
	/*Center Location Left*/
	width: 870px; 
	float: left;
}
.local-right {
	/*Center Location Right*/
	margin-left: auto;
	width: 420px;
}
.container-local-left { 	 	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
  	justify-content: space-around;
}

.item-local-left {
	width: 235px;
	height: 200px;
	margin: 0 auto 40px;
}

.container-local-right { 
	display: flex;
	flex-direction: column;
  	align-content: space-around;
  	justify-content: space-around;
}

.item-local-right {
	width: 340px;
	height: 145px;
	margin: 0 auto 40px;
}

.container-activity { 	 	
	display: flex;
	flex-direction: row;
  	justify-content: space-around;
}

.item-activity {
	background: #fff;
  	width: 300px;
  	height: 445px;
   /*margin: 0 auto 40px;*/
}
.item-activity-inside {
	box-sizing: border-box; /*Fixe la largeur exacte*/
	border-radius: 20px;
  	box-shadow: 3px 3px 10px #d2d2d2; width:300px;
}
.item-activity-full {
  	height: 445px;
}
.item-activity-up {
  	height: 240px; 
	margin-bottom: 40px;
}
.item-activity-down {
  	height: 165px;
}

.container-footer { 	 	
	display: flex;
	flex-direction: row;
  	justify-content: center;
}

.item-footer {
	box-sizing: border-box; /*Fixe la largeur exacte*/
  	width: 445px;
  	height: 210px;
	padding:40px 20px;
   /*margin: 0 auto 40px;*/
}

footer{
	margin-top:60px;
	background:#f2f2f2;
}
body{
	margin:0;
}
/*.container div:nth-child(1), div:nth-child(6) {
  background-color: #00BFB8;
}

.container div:nth-child(2), div:nth-child(7) {
  background-color: #8E007E;
}

.container div:nth-child(3), div:nth-child(8) {
  background-color: #23D0EA;
}

.container1 div:nth-child(1), div:nth-child(6) {
  background-color: #00BFB8;
}

.container1 div:nth-child(2), div:nth-child(7) {
  background-color: #8E007E;
}

.container1 div:nth-child(3), div:nth-child(8) {
  background-color: #23D0EA;
}

.container div:nth-child(4) {
  background-color: #EF8956;
}

.container div:nth-child(5) {
  background-color: #060A3D;
}
*/